{% set content %}
  {{ heading }}
  {{ errors }}
{% endset %}
<span class="messages__heading">
  {% include '@psu-ooe/alert/alert.twig' with {
    content: content,
    severity: "error"
  } only %}
</span>
